.skin-blue .main-header .navbar {
    background-color: #dd4b39  !important;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #212121 !important;
}

.skin-blue .main-header .logo {
    background-color: #212121 !important;
    }
.login-logo img
{
	width: 100%;
}
.login-page
{
	background-color: #212121 !important; 
}
.login-page .btn-primary {
    background-color: #212121;
    border-color: #212121;
    transition-duration: .3s;
}
.login-page .btn-primary:hover {
    background-color: #000;
    border-color: #000;
    transition-duration: .3s;
}
.pace .pace-activity, .pace .pace-activity:before {
    border-color: #fd0000 transparent transparent !important;
 }
 .delete_item
 {
    display: inline-block;
 }
 .icheckbox_minimal-red {
    min-height: 47px;
}
.btnTheme
{
    background-color: #212121 !important;
    border-color: #212121 !important;
    transition-duration: .3s;
}
.btnTheme:hover {
    background-color: #dd4b39 !important;
    border-color: #dd4b39 !important;
    transition-duration: .3s;
}
.customHeader {
    color: #dd4b39 !important;
    padding: 15px !important;
    background: #212121 !important;
    text-align: center;
    text-transform: uppercase;
}
.box-header h3 {
        font-weight: 700;
}
.form-control {
    min-height: 47px;
    font-weight: 700;
    padding: 11px 12px;
    border: 2px solid #212121;
    }
   input[type=date].form-control, input[type=datetime-local].form-control, input[type=month].form-control, input[type=time].form-control {
    line-height: initial !important;
}
.form-control:focus {
    border-color: #212121;
}
.select2-container--default .select2-selection--multiple {
    border: 2px solid #d2d6de !important;
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: block !important;
    height: 42px !important;
}
.box-header
{
    text-align: left;
}
div.dataTables_wrapper div.dataTables_length select {
    height: auto;
    padding: 8px 10px;
    min-height: auto;
}
div.dataTables_wrapper div.dataTables_filter input {
    height: 37px;
    min-height: 37px;
}
.dataTables_scrollHeadInner table
{
    width: 100% !important;
}
.dataTables_scrollBody table
{
    width: 200% !important;
}
table
{
    font-size: 12px;
}
.customHeader
{
    margin-bottom: 10px;
}
.certiContent
{
    padding: 20px 20px;
    background: #fff;
    border: #ccc solid 1px;
    margin-bottom: 10px;
    height: 90px;
    overflow-y: scroll;
}
@media screen and (max-width: 1500px)
{
.icheckbox_minimal-red {
        min-height: 40px;
    }
}

.certificate-container{
    border: 2px solid #f6f6f6;
}
.license-add-btn{
    border: none;
    background: none;
    color: #0f4bac;
    float: right;
    margin-left: 48px;
}
.multi-select{
    width:218px;
}
.select2-results__option[aria-selected=true], .select2-selection__choice {
    color: #000;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 41px !important;
}
.select2-container .select2-selection--single {
    height: 47px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 11px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    color: #000 !important;
}
.single-container
{
    margin: 5px 0;
}
.stateForm
{
    background: #f1f1f1;
    margin: 20px 0;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media screen and (max-width: 1600px)
{
    label
    {
        font-size: 12px;
    }
}
@media screen and (max-width: 767px)
{
    .dataTables_wrapper 
    {
        overflow-x: scroll;
    }
    table.dataTable {
    width: 200%;
}
}
@media screen and (max-width: 450px)
{
    .box-header
    {
        text-align: center;
    }
    .box-header .col-md-6
    {
        text-align: center !important;
        margin: 10px 0;
    }
    .btn {
    margin: 2px 0;
}
}